# Environment variables and secrets
.env

# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# VS Code local settings
.vscode/
# Local dataset files
data/linkedin_ai_dataset/images/
data/linkedin_ai_dataset/processed_images/
data/linkedin_ai_dataset/*.csv
data/linkedin_ai_dataset/*.png